/**************************** STICKY FOOTER  ***************/
@media screen and (min-width:@screen-tablet) {
	#header-and-content-wrap{
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -156px; //Negative indent footer by its hei ght
		padding: 0 0 156px;    //Pad bottom by footer height
	}
}
@media screen and (min-width:@screen-lg-desktop) {
	#header-and-content-wrap{
		margin: 0 auto -147px;
		padding: 0 0 147px;
	}
}
/**************************** /STICKY FOOTER  ****************/

.footer-container {
	.container-fixed();

	@media (min-width: @screen-sm-min) {
		width: @container-sm;
	}
	@media (min-width: @screen-md-min) {
		width: @container-md;
	}
	@media (min-width: @screen-lg-min) {
		width: @container-lg;
	}
}

body {
	margin: 0;
}

.footer-content {
	font-size: 12px;
	color: #646464;
	display: table;
	padding: 0;
	width: 100%;
	span {
		display: block;
	}
	a {
		color: #646464;
	}
	.footer-left, .footer-center, .footer-right {
		display: table-cell;
		vertical-align: top;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.footer-left {
		padding-left: 15px;
		padding-right: 10px;
	}
	.footer-right {
		padding-left: 15px;
		width: 110px;
		height: 100%;
		border-left: 1px solid #646464;
	}
}

.icon-footer {
	background: url(https://media.directio.it/assets/general/social-footer.png) no-repeat;
	display: inline-block;
	&:hover {
		text-decoration: none;
	}
}
.icon-twitter {
	background-position: 0 0;
	width: 17px;
	height: 17px;
	&:hover {
		background-position: 0 -18px;
	}
}
.icon-facebook {
	background-position: -17px 0;
	width: 19px;
	height: 18px;
	&:hover {
		background-position: -17px -18px;
	}
}
.icon-linkedin {
	background-position: -36px 0;
	width: 19px;
	height: 18px;
	&:hover {
		background-position: -36px -18px;
	}
}
.icon-googleplus {
	background-position: -55px 0;
	width: 29px;
	height: 18px;
	&:hover {
		background-position: -55px -18px;
	}
}
.icon-rss {
	background-position: -84px 0;
	width: 18px;
	height: 18px;
	&:hover {
		background-position: -84px -18px;
		color: white;
	}
	.icon-rss-text {
		margin-left: 23px;
		font-size: 15px;
	}
}
.icon-rss {
	background-position: -84px 0;
	width: 18px;
	height: 18px;
	span {
		margin-left: 23px;
		font-size: 15px;
	}
}

.footer {
	background-image: -webkit-linear-gradient(top,#000 0,#222 100%);
	background-image: -o-linear-gradient(top,#000 0,#222 100%);
	background-image: linear-gradient(to bottom,#000 0,#222 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
}

@media (min-width: @screen-sm) {
	.footer-content {
		.footer-left {
			padding-left: 0;
		}
		.footer-center {
			padding-right: 15px;
			text-align: right;
		}
	}
}
