.font-style(@size,@line-height,@weight ){
	font-size: @size;
	line-height: @line-height;
	font-weight: @weight;
}

.font-style-full(@size,@line-height,@weight,@color){
	font-size: @size;
	line-height: @line-height;
	font-weight: @weight;
	color:@color;
}

.link-variant-underline(@color) {
	color: @color;
	&[href] {
		&:hover,
		&:focus {
			text-decoration: underline;
			color: @color;
		}
	}
}

.link-variant-underline-darken(@color) {
	color: @color;
	&[href] {
		&:hover,
		&:focus {
			text-decoration: underline;
			color: darken(@color, 30%);
		}
	}
}

.link-variant-nounderline(@color) {
	color: @color;
	&[href] {
		&:hover,
		&:focus {
			text-decoration: none;
			color: darken(@color, 10%);
		}
	}
}

.link-variant-nounderline-nostate(@color) {
	color: @color;
	&[href] {
		&:hover,
		&:focus {
			text-decoration: none;
			color: @color
		}
	}
}

.link-variant-nounderline-state(@color,@color-hover) {
	color: @color;
	&[href] {
		&:hover,
		&:focus {
			text-decoration: none;
			color: @color-hover;
		}
	}
}

.remove-gradient(){
	background-image: none;
	background-color: transparent;
	.reset-filter();
}

.remove-box-shadow(){
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow:none !important;
}

.block-vcentered(){
	//display: inline-block;
	//vertical-align: middle;
	width: 100%;
	height: 100%;
	//overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;

}

.kill-background-image() {
	background-image: none;
	-ms-filter: none;
	filter: none;
}

.kill-box-shadow() {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.shadow-hide-more-bottom(@height-box, @height-shadow) {
	height: @height-sm;
	overflow: hidden; // Hide the extra content
	position: relative; // To make :after pseudo-element bottom
	&::after { // Show a shadow that hide the extra content
		content: " ";
		background: linear-gradient(to bottom,rgba(255,255,255,0),rgba(255, 255, 255, 1));
		height: @height-shadow; // Height of the shadow
		width: 100%;
		position: absolute; // Absolute to parent, to stay bottom
		bottom: 0;
		left: 0;
	}
}

.grid-elements(@items-sm, @height-sm, @items-md, @height-md, @items-lg, @height-lg, @padding-col) {
	margin-left: -@padding-col;
	@media (min-width: @screen-sm) {
		.list-wrap-item {
			display: inline-block;
			vertical-align: top; // To make inline-block stay aligned top
			width: 100% / @items-sm; // Calculate the width for all elements
			padding-left: @padding-col;
			.list-wrap-item-body {
				.shadow-hide-more-bottom(100px, 30px);
			}
		}
	}
	@media (min-width: @screen-md) {
		.list-wrap-item {
			width: 100% / @items-md;
			.list-wrap-item-body {
				height: @height-md;
			}
		}
	}
	@media (min-width: @screen-lg) {
		.list-wrap-item {
			width: 100% / @items-lg;
			margin-left: -4px;
			&:nth-child(@{items-lg}n+1) {
				margin-left: 0;
			}
			.list-wrap-item-body {
				height: @height-lg;
			}
		}
	}
}

// SUPPORT ON:
// INTERNET EXPLORER 9+ (on IE9 with polyfill "flexibility")
// CHROME 22+
// FIREFOX 29+
// OPERA 12.10+
// SAFARI 6.2+

// DON'T SUPPORT ON:
// INTERNET EXPLORER 8- (flexbox works, padding problem (go in a new row))
//
// CHROME 21 (flexbox works, padding problem (go in a new row))
// CHROME 20- (flexbox didn't work)
//
// FIREFOX 28 (flexbox works, padding problem (go in a new row))
// FIREFOX 27- (flexbox didn't work)
//
// OPERA 12.9- (flexbox didn't work)
//
// SAFARI 6.0- (flexbox didn't work)
//
// IMPORTANT: IE9 have some bug (with "flexibility"). Height is wrong calculated in some cases.
// Example in landing FAD (Directio portal)
.grid-elements-flexbox(@items-xs, @items-sm, @items-md, @items-lg, @padding-col) {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	margin-left: -@padding-col;
	.list-wrap-item {
		padding-left: @padding-col;
		width: 100% / @items-xs;
	}
	@media (min-width: @screen-sm) {
		.list-wrap-item {
			width: 100% / @items-sm;
		}
	}
	@media (min-width: @screen-md) {
		.list-wrap-item {
			width: 100% / @items-md;
		}
	}
	@media (min-width: @screen-lg) {
		.list-wrap-item {
			width: 100% / @items-lg;
		}
	}
}

.grid-elements-flexbox-gutter(@items-xs, @items-sm, @items-md, @items-lg, @padding-col) {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	margin-left: -(@padding-col / 2);
	margin-right: -(@padding-col / 2);
	.list-wrap-item {
		padding-left: (@padding-col / 2);
		padding-right: (@padding-col / 2);
		width: 100% / @items-xs;
	}
	@media (min-width: @screen-sm) {
		.list-wrap-item {
			width: 100% / @items-sm;
		}
	}
	@media (min-width: @screen-md) {
		.list-wrap-item {
			width: 100% / @items-md;
		}
	}
	@media (min-width: @screen-lg) {
		.list-wrap-item {
			width: 100% / @items-lg;
		}
	}
}

/*.no-link() {
	color: inherit;
	&:hover, &:visited, &:link, &:active {
		text-decoration: none;
		color: inherit;
	}
}*/

.no-link() {
	&:hover, &:visited, &:link, &:active {
		text-decoration: none;
	}
}

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled {
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
}
