.font-style(@size,@line-height,@weight ){
	font-size: @size;
	line-height: @line-height;
	font-weight: @weight;
}

.font-style-full(@size,@line-height,@weight,@color){
	font-size: @size;
	line-height: @line-height;
	font-weight: @weight;
	color:@color;
}

.link-variant-underline(@color) {
	color: @color;
	&[href] {
		&:hover,
		&:focus {
			text-decoration: underline;
			color: @color;
		}
	}
}

.link-variant-underline-darken(@color) {
	color: @color;
	&[href] {
		&:hover,
		&:focus {
			text-decoration: underline;
			color: darken(@color, 30%);
		}
	}
}

.link-variant-nounderline(@color) {
	color: @color;
	&[href] {
		&:hover,
		&:focus {
			text-decoration: none;
			color: darken(@color, 10%);
		}
	}
}

.link-variant-nounderline-nostate(@color) {
	color: @color;
	&[href] {
		&:hover,
		&:focus {
			text-decoration: none;
			color: @color
		}
	}
}

.link-variant-nounderline-state(@color,@color-hover) {
	color: @color;
	&[href] {
		&:hover,
		&:focus {
			text-decoration: none;
			color: @color-hover;
		}
	}
}

.remove-gradient(){
	background-image: none;
	background-color: transparent;
	.reset-filter();
}

.remove-box-shadow(){
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow:none !important;
}

.block-vcentered(){
	//display: inline-block;
	//vertical-align: middle;
	width: 100%;
	height: 100%;
	//overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;

}

.kill-background-image() {
	background-image: none;
	-ms-filter: none;
	filter: none;
}

.kill-box-shadow() {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.grid-tablet(@items-per-row){
	margin:0;
	padding:0;
	list-style:none;
	@media screen and (min-width:@screen-tablet) {
		width: 100%;
		text-align: justify;
		font-size: 0;
		font-size: 12px\9; /* IE6-9 only fix */
		&::after{
			content: "";
			width: 100%;
			display: inline-block;
			zoom: 1;
			*display: inline;
		}
		li{
			display: inline-block;
			width:49%;
			zoom: 1;
			*display: inline; /* IE stuff again */
			font-size: 14px;
			text-align: left;
		}
	}
}

.no-link() {
	&:hover, &:visited, &:link, &:active {
		text-decoration: none;
		color: inherit;
	}
}
