/* BOOTSTRAP FULL HEIGHT COLUMS */
/* columns of same height styles */
/* http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height */

.row-full-height {
	height: 100%;
}
.col-full-height {
	height: 100%;
	vertical-align: middle;
}
.row-same-height {
	display: table;
	width: 100%;
	/* fix overflow */
	table-layout: fixed;
}
.col-xs-height {
	display: table-cell;
	float: none !important;
}

@media (min-width: 768px) {
	.col-sm-height {
		display: table-cell;
		float: none !important;
	}
}
@media (min-width: 992px) {
	.col-md-height {
		display: table-cell;
		float: none !important;
	}
}
@media (min-width: 1200px) {
	.col-lg-height {
		display: table-cell;
		float: none !important;
	}
}

//Rules for 5 columns layout
@media (max-width: @screen-xs-max) {
	.col-xs-5col {
		width:20%;
	}
}

@media (min-width: @screen-sm) {
	.col-sm-5col {
		width:20%;
	}
}

@media (min-width: @screen-md) {
	.col-md-5col {
		width:20%;
	}
}

@media (min-width: @screen-lg) {
	.col-lg-5col {
		width:20%;
	}
}

.valign-middle {
	vertical-align: middle;
}
