//Material (rules of new homepage)
//Global xs
@font-material-header-title-xs: 14px;
@font-material-header-archivio-xs: 14px;

//Global sm
@font-material-header-title-sm: 19px;
@font-material-header-archivio-sm: 19px;

//SERVIZI
@color-news-more: #03a48d;
@color-news-more-archivio: #C6E9E4;
//FAD
@color-fad: #eb6767;
@color-fad-archivio: #f5c3c2;
//GUIDE
@color-guide: #f3a333;
@color-guide-archivio: #fcedd6;
//SU-MISURA
@color-su-misura: #EE7601;
//BP
@color-bp: #29a9e1;
@color-bp-archivio: #afddf3;
//MULTIDIRECTIO
@color-multidirectio: #bdccd4;

@color-multidirectio-panel: #eee;
@color-multidirectio-panel-testi-archivio: #111;
//CIAPPTERILEVEN
@color-ciappterileven: #B69C5F;
//GUIDE SOLE24ORE
@color-sole24ore: #095E72;
@color-sole24ore-archivio: #a0bfc7;
