//Material (rules of new homepage)
//Global xs
@height-material-header-xs: 35px;
@font-material-header-title-xs: @height-material-header-xs / 2.6;
@font-material-header-archivio-xs: @height-material-header-xs / 3.3;

//Global sm
@height-material-header-sm: 50px;
@font-material-header-title-sm: @height-material-header-sm / 2.6;
@font-material-header-archivio-sm: @height-material-header-sm / 3.3;

//SERVIZI
@color-news-more: #03a48d;
@color-news-more-archivio: #C6E9E4;
//FAD
@color-fad: #eb6767;
@color-fad-archivio: #f5c3c2;
//GUIDE
@color-guide: #f3a333;
@color-guide-archivio: #fcedd6;
//BP
@color-bp: #29a9e1;
//MULTIDIRECTIO
@color-multidirectio: #bdccd4;
//CIAPPTERILEVEN
@color-ciappterileven: #B69C5F;
//GUIDE SOLE24ORE
@color-sole24ore: #095E72;
@color-sole24ore-archivio: #8FADBB;
