// HEADER
// ----------------------------------------

.navbar-default{
	//-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	//-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	//box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	border-color: transparent;
}

#header-ente-generic, #header-commercialisti {
	.navbar-brand, .navbar-brand-commercialisti{
		max-width: 240px;
		padding: 5px 8px;
		img {
			height: auto;
		}
	}
}

.header-menu-genericente, .header-menu-commercialisti{
	background: #E6E6E6;
	.header-menu-genericente-list, .header-menu-commercialisti-list{
		a{
			padding-top: 5px;
			padding-bottom: 5px;
			.material-icons {
				vertical-align: middle;
				font-size: 18px;
			}
			span {
				vertical-align: middle;
			}
		}
	}
}

.header-menu-genericente-item-avatar, .header-menu-commercialisti-item-avatar {
	.header-menu-genericente-title, .header-menu-commercialisti-title {
		.material-icons {
			display: inline-block;
			font-size: 17px;
			vertical-align: sub;
		}
	}
}

@media (min-width: @screen-sm-min) {
	#header-ente-generic, #header-commercialisti {
		.navbar-brand{
			max-width: none;
		}
	}
	#header-ente-generic .navbar-right{
		> li >a > span{
			display: none;
		}
	}
	#header-ente-generic {
		.navbar {
			.ente-loghi-sole24ore {
				align-items: center;
				justify-content: space-between;
			}
		}
	}

	#header-ente-generic {
		.navbar-right {
			margin-right: 0;
		}

		.header-menu-genericente-item {
			border-right: 1px solid #000;
			&:first-child {
				border-left: 1px solid #000;
			}
		}
	}

	//Added by Alex
	.header-menu-genericente-item, .header-menu-commercialisti-item {
		.header-menu-genericente-title, .header-menu-commercialisti-title {
			line-height: 40px;
			.material-icons {
				display: inline-block;
				vertical-align: sub;
				font-size: 17px;
			}
		}
	}
	.header-menu-genericente-item-avatar, .header-menu-commercialisti-item-avatar {
		.header-menu-genericente-avatar, .header-menu-commercialisti-avatar {
			float: left;
			padding-right: 5px;
			img {
				width: 40px;
				border-radius: 50%;
			}
		}
		.header-menu-genericente-title, .header-menu-commercialisti-title {
			float: left;
			padding-left: 5px;
			padding-right: 0;
			line-height: 40px;
			.fa, .material-icons {
				display: none;
			}
		}
	}
}
@media (min-width: @screen-md-min) {
	#header-ente-generic .navbar-right{
		> li >a > span{
			display: inline-block;
		}
	}
}
@media (min-width: @grid-float-breakpoint) {
	//act like navbar-brand so indent to align with content
	#header-ente-generic .ente-logo-big {
		//margin-left: -@navbar-padding-horizontal;
	}
}


// /HEADER
// -----------------------------------


//HEADER COMMERCIALISTI FAD
.navbar-commercialisti {
	margin-bottom: 0;
	border-bottom-width: 0px;
	.header-menu-commercialisti {
		background-color: #F7323F;
		.header-menu-commercialisti-list {
			.header-menu-commercialisti-item, .header-menu-commercialisti-item-avatar {
				.header-menu-commercialisti-title {
					color: white;
				}
			}
		}
	}
}

.header-commercialisti {
	background-color: #f6f5ed;
}

.header-fad-commercialisti {
	background-color: #ccc;
	font-size: 25px;
	font-weight: bold;
	padding: 15px 0;
}
