// Regole principali dell'header grigio e dell'header nero (col nome dell'utente loggato su Servizi e l'immagine)

@media (max-width: 767px) {
	.global-header {
		.material-subheader {
			list-style-type: none;
			text-align: justify;
			.material-subheader-item {
				display: inline;
			}
			&::after {
				content: " ";
				display: inline-block;
				width: 100%;
			}
		}
	}
}

.global-header {
	background-color: #222;
	.meterial-header-wrapper {
		.meterial-header {
			.material-header-left {
				float: left;
				line-height: 41px;
				.material-header-left-image {
					display: inline-block;
				}
			}
			.material-header-right {
				float: right;
				padding-left: 0;
				margin-bottom: 0;
				.material-header-item, .material-header-menu {
					color: #ccc;
					text-decoration: none;
					cursor: pointer;
					display: block;
					float: left;
				}
				.material-header-item {
					.material-header-item-link {
						.no-link();
						color: #ccc!important;
						padding: 10px 5px;
						border-right: 1px solid #ccc;
						display: block;
						.material-header-item-image, .material-header-item-text {
							vertical-align: middle;
						}
						.material-header-item-image {
							width: 20px;
							border-radius: 50%;
						}
						.material-header-item-text {
							display: none;
						}
						.material-icons {
							font-size: 14px;
							vertical-align: sub;
						}
					}
					&:first-child {
						.material-header-item-link {
							border-left: 1px solid #ccc;
						}
					}
					.dropdown-menu {
						.material-icons {
							color: black!important;
							font-size: 14px;
							vertical-align: sub;
						}
					}
				}
				.material-header-menu {
					position: relative;
					.material-header-menu-icon {
						vertical-align: middle;
						font-size: 20px;
						padding: 10.7px 5px;
						border-right: 1px solid #ccc;
					}
					.material-header-menu-list {
						list-style: none;
						margin-bottom: 0;
						padding-left: 0;
						position: absolute;
						right: 0;
						background-color: #ccc;
						z-index: 1000;
						.material-header-menu-list-item {
							white-space: nowrap;
							color: black;
							font-weight: 400;
							padding: 5px 10px;
							border-top: 1px solid black;
							&:first-child {
								border-top-width: 0;
							}
							a {
								.no-link();
							}
						}
					}
				}
			}
		}
	}
	.material-subheader-wrapper {
		height: 35px;
		background-color: #eee;
		width: 100%;
		border-bottom: 1px solid #aaa;
		.material-subheader {
			padding-left: 0;
			margin-bottom: 0;
			.material-subheader-item {
				display: inline-block;
				height: 35px;
				font-size: 13px;
				.material-subheader-item-text {
					.link-variant-nounderline(#000);
					padding-left: 5px;
					padding-right: 5px;
					height: 35px;
					line-height: 35px;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.global-header {
		.meterial-header-wrapper {
			.meterial-header {
				.material-header-right {
					.material-header-item {
						.material-header-item-link {
							padding: 10px;
							.material-header-item-text {
								display: inline;
							}
						}
					}
					.material-header-menu {
						.material-header-menu-icon {
							padding: 10.7px 10px;
						}
					}
				}
			}
		}
		.material-subheader-wrapper {
			.material-subheader {
				float: right;
				.material-subheader-item {
					border-right: 1px solid #aaa;
					&:first-child {
						border-left: 1px solid #aaa;
					}
				}
			}
		}
	}
}
