.loghi-wrap {
	.grid-elements-flexbox(2, 6, 6, 6, 0);
}

.loghi-wrap {
	margin-bottom: 15px;
	margin-top: 15px;
	.logo {
		height: 90px;
		border-left: 1px solid #ccc;
		&.news-more {
			background: @color-news-more url("https://media.directio.it/loghi-servizi-header/news-more-mobile.png") no-repeat center;
		}
		&.fad {
			background: @color-fad url("https://media.directio.it/loghi-servizi-header/formazione-a-distanza-mobile.png") no-repeat center;
		}
		&.guide {
			background: @color-guide url("https://media.directio.it/loghi-servizi-header/guide-interattive-mobile.png") no-repeat center;
		}
		&.su-misura {
			background: @color-su-misura url("https://media.directio.it/loghi-servizi-header/su-misura-mobile.png") no-repeat center;
		}
		&.bp {
			background: @color-bp url("https://media.directio.it/loghi-servizi-header/business-plan-mobile.png") no-repeat center;
		}
		&.multidirectio {
			background: @color-multidirectio url("https://media.directio.it/loghi-servizi-header/multidirectio-mobile.png") no-repeat center;
		}
		&.sole24ore {
			background: @color-sole24ore url("https://media.directio.it/loghi-servizi-header/sole-24-ore-bianco.png") no-repeat center;
		}
		&:first-child {
			border-left-width: 0;
		}
	}
}

@media (min-width: @screen-sm) {
	.loghi-wrap {
		.logo {
			&.news-more {
				background-image: url("https://media.directio.it/loghi-servizi-header/news-more-mobile-color.png");
				background-color: #fff;
			}
			&.fad {
				background-image: url("https://media.directio.it/loghi-servizi-header/formazione-a-distanza-mobile-color.png");
				background-color: #fff;
			}
			&.guide {
				background-image: url("https://media.directio.it/loghi-servizi-header/guide-interattive-mobile-color.png");
				background-color: #fff;
			}
			&.su-misura {
				background-image: url("https://media.directio.it/loghi-servizi-header/su-misura-mobile-color.png");
				background-color: #fff;
			}
			&.bp {
				background-image: url("https://media.directio.it/loghi-servizi-header/business-plan-mobile-color.png");
				background-color: #fff;
			}
			&.multidirectio {
				background-image: url("https://media.directio.it/loghi-servizi-header/multidirectio-mobile-color.png");
				background-color: #fff;
			}
			&.sole24ore {
				background-image: url("https://media.directio.it/loghi-servizi-header/sole-24-ore-mobile-color.png");
				background-color: #fff;
			}
			&.active, &:hover {
				border-left-width: 0;
				border-right-width: 0;
				&.news-more {
					background-color: @color-news-more;
					background-image: url("https://media.directio.it/loghi-servizi-header/news-more-mobile.png");
				}
				&.fad {
					background-color: @color-fad;
					background-image: url("https://media.directio.it/loghi-servizi-header/formazione-a-distanza-mobile.png");
				}
				&.guide {
					background-color: @color-guide;
					background-image: url("https://media.directio.it/loghi-servizi-header/guide-interattive-mobile.png");
				}
				&.su-misura {
					background-color: @color-su-misura;
					background-image: url("https://media.directio.it/loghi-servizi-header/su-misura-mobile.png");
				}
				&.bp {
					background-color: @color-bp;
					background-image: url("https://media.directio.it/loghi-servizi-header/business-plan-mobile.png");
				}
				&.multidirectio {
					background-color: @color-multidirectio;
					background-image: url("https://media.directio.it/loghi-servizi-header/multidirectio-mobile.png");
				}
				&.sole24ore {
					background-color: @color-sole24ore;
					background-image: url("https://media.directio.it/loghi-servizi-header/sole-24-ore-bianco.png");
				}
				+ .logo {
					border-left-width: 0;
				}
			}
		}
	}
}
