// Regole principali dell'header grigio e dell'header nero (col nome dell'utente loggato su Servizi e l'immagine)

@media (max-width: 767px) {
	.material-subheader {
		list-style-type: none;
		text-align: justify;
		.material-subheader-item {
			display: inline;
		}
		.stretch {
			display: inline-block;
			width: 100%;
		}
	}
}

.stretch {
	display: none;
}

.meterial-header-wrapper {
	.meterial-header {
		height: 36px;
		.material-header-left {
			width: auto;
			display: inline-block;
			height: 36px;
			line-height: 36px;
			.material-header-left-image {
				height: 23px;
			}
		}
		.material-header-right {
			float: right;
			height: 36px;
			line-height: 36px;
			padding: 0 10px;
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
			.js-userinfo-header-link {
				color: #ccc;
				text-decoration: none;
				.userinfo-avatar, .userinfo-username {
					vertical-align: middle;
				}
				.userinfo-avatar {
					width: 25px;
				}
			}
		}
	}
}
.material-subheader-wrapper {
	height: 35px;
	background-color: #eee;
	width: 100%;
	border-bottom: 1px solid #aaa;
	.material-subheader {
		padding-left: 0;
		.material-subheader-item {
			display: inline-block;
			height: 35px;
			font-size: 13px;
			.material-subheader-item-text {
				.link-variant-nounderline(#000);
				padding-left: 5px;
				padding-right: 5px;
				height: 35px;
				line-height: 35px;
			}
		}
	}
}

@media (min-width: 768px) {
	.material-subheader-wrapper {
		.material-subheader {
			float: right;
			.material-subheader-item {
				border-right: 1px solid #aaa;
				&:first-child {
					border-left: 1px solid #aaa;
				}
			}
		}
	}
}
