// 6 bottoni dei servizi

@media (max-width: 767px) {
	.box-image-services-wrapper {
		padding-bottom: 1px;
		&.odd {
			padding-left: 1px;
		}
		&.even {
			padding-right: 1px;
		}
		&.active {
			display: none;
			border-left: 1px solid #ccc;
		}
	}
}

.box-image-services-container {
	margin-bottom: 15px;
	margin-top: 15px;
	&.no-margin-bottom {
		margin-bottom: 0;
	}
}

.box-image-services-wrapper {
	&:first-child {
		border-left-width: 0;
	}
	.box-image-services-directio {
		display: block;
		height: 80px;
		&.news-more {
			background: @color-news-more url("/images/loghi-servizi-ricerca/news-more-mobile.png") no-repeat center;
		}
		&.fad {
			background: @color-fad url("/images/loghi-servizi-ricerca/formazione-a-distanza-mobile.png") no-repeat center;
		}
		&.guide {
			background: @color-guide url("/images/loghi-servizi-ricerca/guide-interattive-mobile.png") no-repeat center;
		}
		&.bp {
			background: @color-bp url("/images/loghi-servizi-ricerca/business-plan-mobile.png") no-repeat center;
		}
		&.multidirectio {
			background: @color-multidirectio url("/images/loghi-servizi-ricerca/multidirectio-mobile.png") no-repeat center;
		}
		&:first-child {
			border-left-width: 0;
		}
	}
}

@media (min-width: 768px) {
	.box-image-services-wrapper {
		border-left: 1px solid #ccc;
		.box-image-services-directio {
			&.news-more {
				background-image: url("/images/loghi-servizi-ricerca/news-more-mobile-color.png");
				background-color: #fff;
			}
			&.fad {
				background-image: url("/images/loghi-servizi-ricerca/formazione-a-distanza-mobile-color.png");
				background-color: #fff;
			}
			&.guide {
				background-image: url("/images/loghi-servizi-ricerca/guide-interattive-mobile-color.png");
				background-color: #fff;
			}
			&.bp {
				background-image: url("/images/loghi-servizi-ricerca/business-plan-mobile-color.png");
				background-color: #fff;
			}
			&.multidirectio {
				background-image: url("/images/loghi-servizi-ricerca/multidirectio-mobile-color.png");
				background-color: #fff;
			}
		}
		&.active {
			display: block;
			border-left-width: 0;
			border-right-width: 0;
			.box-image-services-directio {
				&.news-more {
					background-image: url("/images/loghi-servizi-ricerca/news-more-mobile.png");
					background-color: @color-news-more;
				}
				&.fad {
					background-image: url("/images/loghi-servizi-ricerca/formazione-a-distanza-mobile.png");
					background-color: @color-fad;
				}
				&.guide {
					background-image: url("/images/loghi-servizi-ricerca/guide-interattive-mobile.png");
					background-color: @color-guide;
				}
				&.bp {
					background-image: url("/images/loghi-servizi-ricerca/business-plan-mobile.png");
					background-color: @color-bp;
				}
				&.multidirectio {
					background-image: url("/images/loghi-servizi-ricerca/multidirectio-mobile.png");
					background-color: @color-multidirectio;
				}
			}
			+ .box-image-services-wrapper {
				border-left-width: 0;
			}
		}
	}
}

@media (min-width: 992px) {
	.box-image-services-wrapper {
		border-left: 1px solid #ccc;
		.box-image-services-directio {
			height: 60px;
			&.news-more {
				background: #fff url("/images/loghi-servizi-ricerca/news-more-logo.png") no-repeat center;
			}
			&.fad {
				background: #fff url("/images/loghi-servizi-ricerca/formazione-a-distanza-logo.png") no-repeat center;
			}
			&.guide {
				background: #fff url("/images/loghi-servizi-ricerca/guide-interattive-logo.png") no-repeat center;
			}
			&.bp {
				background: #fff url("/images/loghi-servizi-ricerca/business-plan-logo.png") no-repeat center;
			}
			&.multidirectio {
				background: #fff url("/images/loghi-servizi-ricerca/multidirectio-logo.png") no-repeat center;
			}
		}
		&.active {
			border-left-width: 0;
			border-right-width: 0;
			.box-image-services-directio {
				&.news-more {
					background-image: url("/images/loghi-servizi-ricerca/news-more-bianco.png");
					background-color: @color-news-more;
				}
				&.fad {
					background-image: url("/images/loghi-servizi-ricerca/formazione-a-distanza-bianco.png");
					background-color: @color-fad;
				}
				&.guide {
					background-image: url("/images/loghi-servizi-ricerca/guide-interattive-bianco.png");
					background-color: @color-guide;
				}
				&.bp {
					background-image: url("/images/loghi-servizi-ricerca/business-plan-bianco.png");
					background-color: @color-bp;
				}
				&.multidirectio {
					background-image: url("/images/loghi-servizi-ricerca/multidirectio-bianco.png");
					background-color: @color-multidirectio;
				}
			}
			+ .box-image-services-wrapper {
				border-left-width: 0;
			}
		}
	}
}
