.box-wrap{
	.box-heading-wrap{
		padding-top: 5px;
		padding-bottom: 5px;
		border-top: 1px solid #BCCBD3;
		border-bottom: 1px solid #BCCBD3;
		background:#F5F5F5;
		text-align: center;
		.heading-title{
			color: #000000;
			padding-left: 3px;
			margin: 0;
			font-size: 15px;
			line-height: 15px;
			font-weight: 400;
			&.with-logo-right{ // h3
				background: url(https://media.directio.it/assets/box-header-logo-directio.png) no-repeat right;
			}
		}
	}
}

.box-link-block{
	//display: inline-block;
	//sugg by a.s.
	display:block;
	position: relative;
}

.list-bbordered{
	.box-list-item {
		border-bottom: 1px solid #BCCBD3;
	}
}


@media (min-width: @screen-tablet) {
	.box-wrap{
		.box-heading-wrap{
			text-align: left;
		}
	}
}
