// / BOX WITH LIST ITEMS
// ------------------------------------------------------
.rm-box-outer{
	margin-bottom:5px;
	.rm-box-heading{
		margin:0;
		padding:5px 3px;
		background:#F5F5F5;
		.font-style-full(15px,15px,400,#000000);
		border-top:1px solid #BCCBD3;
		border-bottom:1px solid #BCCBD3;
	}
}

.rm-box-list{
	.list-unstyled();
	margin:0;
	> li{
		border-top:1px solid #BCCBD3;
		padding-top:10px;
		padding-bottom:10px;
		&:first-child{
			border-top:none;
		}
	}
	&.rm-banner-list {
		li {
			border-top-width: 0;
		}
	}
}
.rm-box-list-simple {
	.list-unstyled();
	margin: 0;

	> li {
		padding-top: 10px;
		padding-bottom: 10px;
		border-top: 1px solid #BCCBD3;

		&:first-child {
			border-top: none;
		}

		> a {
			.font-style(15px,16px,400);
			.link-variant-underline(#02A38C);
		}
	}
}
.rm-video-box{
	> ul{
		> li {
			.video-image-wrap{
				display:table-cell;
				width:92px;
				padding-right:12px;
			}
			.video-date-title-wrap{
				display:table-cell;
				vertical-align:top;
			}
		}
	}
}
.multimedia-list-date{
	.font-style-full(14px,18px,400,#4C4C4C);
	margin-bottom:5px;

}
.multimedia-list-title{
	.font-style(15px,16px,400);
	.link-variant-underline(#000000);
	.material-icons {
		vertical-align: middle;
	}
}
.multimedia-list-short-description{

}

@media screen and (min-width:@screen-tablet){
	.rm-video-box{
		> ul{
			> li {
				.video-image-wrap{
					//display:table-cell;
					width:92px;
					padding-right:12px;
					vertical-align:top;
				}
				.video-date-title-wrap{
					//display:block;
					vertical-align:top;
				}
			}
		}
	}
	.multimedia-detail-title{
		.font-style-full(30px,36px,700,#000000);
	}
	.multimedia-schedule-detail-title{
		.font-style-full(30px,36px,700,#000000);
	}
}

@media screen and (min-width:@screen-desktop){

	.rm-video-box{
		>ul {
			> li{
				.video-image-wrap{
					width:120px;
				}
				.video-date-title-wrap{

				}
			}
		}
	}
}

@media screen and (min-width:@screen-lg-desktop){
	.rm-video-box{
		>ul {
			> li{
				.video-image-wrap{
					width:140px;
				}
			}
		}
	}

}

// / BOX WITH LIST ITEMS
// -------------------------------------------------------
