.news-directio-wrap {
	.list-unstyled();
	margin-top: 10px;

	display: flex;
	flex-flow: column;
	.news-item {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		flex: none;

		padding: 7px 0;
		border-top: 1px solid #bccbd3;
		&:first-child {
			border-top-width: 0;
		}
		.news-item-image {
			display: none;
		}
		.news-item-content {
			display: flex;
			flex-flow: column;
			flex: 1;
			.news-title-link {
				.link-variant-nounderline(#000);
				.news-title {
					font-size:15px;
					line-height:17px;
					text-transform: uppercase;
					font-weight: 700;
					color: #000;
				}
			}
			.news-date {
				color: #808080;
				//visualizza la data nel formato breve
				font-size: 11px;
				line-height: 12px;
				text-transform: capitalize;
				padding: 5px 0;
			}
			.news-description {
				line-height:17px;
				overflow: hidden;
				color: #000;

				height: 65px;
				position: relative;
				&::after {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					content: "";
					height: 26px;
					background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
					background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
				}
			}
		}
	}
}

@media (min-width: @screen-sm) {
	.news-directio-wrap {
		.news-item {
			.news-item-image {
				flex: 0 0 80px;

				display: block;
				padding-right: 13px;
			}
			.news-item-content {
				.news-title-link {
					.news-title {
						line-height: 20px;
						margin: 0;
					}
				}
				.news-date {
					//visualizza la data nel formato esteso
					&:before {
						content: attr(data-datelong);
					}
				}
			}
		}
	}
}

@media (min-width: @screen-md) {
	.news-directio-wrap {
		.news-item {
			.news-item-content {
				.news-title-link {
					.news-title {
						line-height: 17px;
					}
				}
				.news-description{
					font-size: 13px;
					line-height: 17px;
					margin-bottom: 0px;
				}
			}
		}
	}
}

@media (min-width: @screen-lg) {
	.news-directio-wrap {
		.news-item {
			.news-item-content {
				.news-date {
					font-size: 12px;
				}
				.news-description{
					font-size: 14px;
					line-height: 20px;
					margin-bottom: 7px;
				}
			}
		}
	}
}



/* BOX NEWS
********************************************************************/
/*#news-box{
margin-top: 16px;
}

#news-box .box-content{
.box-list-item {
padding-top: 7px;
padding-bottom: 7px;
border-bottom: 1px solid #bccbd3;
}
}

.news-item-wrap{
display: table;
width:100%;
.news-item-image{
display:table-cell;
width: 80px;
padding-right: 13px;
vertical-align: middle;
display: none; //nascondi l'immagine della news
}
.news-item-content{
display:table-cell;
a{
.link-variant-nounderline(#000);
}
}
}
.news-title{
margin: 0;
padding: 0;
font-size: 14px;
line-height: 20px;
font-weight: 700;
}
.news-date{
margin: 0;
padding: 0;
color:#4C4C4C;
//visualizza la data nel formato breve
&:before {
content: attr(data-dateshort);
font-size: 11px;
line-height: 12px;
}
}

.title-date-wrap{
.clearfix();
.news-title{
float: left;
width: 80%;
line-height:17px;
font-size:15px;
}
.news-date{
float: right;
width: 20%;
color: #4C4C4C;
text-align: right;
}
}
.news-description{
margin-top: 7px;
margin-bottom: 8px;
overflow: hidden;
}

.homepage .news-description {
//background:red;
height: 40px;
line-height:17px;
}

@media (min-width: @screen-tablet) {
//visualizza la data nel formato esteso
.news-date{
&:before {
content: attr(data-datelong);
}
}
.news-item-wrap{
.news-item-image{
//display: block; //visualizza l'immagine della news
//sugg by a.s
display:table-cell;
img{
width:67px;
}
}
}
.news-title{
font-size: 14px;
line-height: 20px;
}
}
@media (min-width: @screen-desktop) {
.news-title {
font-size: 14px;
line-height: 17px;
}
.news-description{
font-size: 13px;
line-height: 17px;
margin-top: 7px;
margin-bottom: 0px;
}
}

@media (min-width: @screen-lg-desktop) {
.news-title {
font-size: 14px;
line-height: 20px;
}
.news-description{
font-size: 14px;
line-height: 20px;
margin-bottom: 7px;
}
}*/
/* /BOX NEWS
********************************************************************/
