@height-newsletter-box: 450px;
@height-newsletter-box-error: 510px;

.newsletter {
	max-width: 90%;
	width: 380px;
	height: @height-newsletter-box;
	position: fixed;
	bottom: -@height-newsletter-box - 15px;
	right: 10px;
	transition: all 0.5s;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	background-color: #383D40;
	margin-bottom: 0px;
	z-index: 3;
	a {
		&:hover, &:focus {
			text-decoration: none;
			color: white;
		}
	}
	.newsletter-content {
		text-align: center;
		color: white;
		max-width: 90%;
		.mi-letter-box {
			background-color: #bdccd4;
			font-size: 60px;
			border-radius: 50%;
			padding: .25em;
			margin-top: 10px;
			margin-bottom: 5px;
		}
		.first-line-title {
			font-size: 26px;
			color: white;
		}
		.second-line-title {
			font-size: 30px;
			//need that rule to reduce the margin from first and second line (without that rules the space is too much)
			display: inline-block;
			margin-top: -10px;
			///
			margin-bottom: 20px;
			color: white;
		}
		.sub-title {
			font-size: 17px;
			color:#bdccd4;
			margin-bottom: 10px;
			display: inline-block;
		}
		.form-control {
			border-radius: 0;
		}
		.checkbox {
			margin-bottom: 0;
			margin-top: 0;
		}
		.btn-newsletter {
			background-color: #bdccd4;
			padding: 10px 20px;
			font-size: 16px;
		}
		.logo-directio-newsletter {
			margin-top: 10px;
		}
		.informativa-privacy-newsletter {
			color: #bdccd4;
		}
		.has-error {
			margin-bottom: 5px;
		}
		.msg-error {
			margin-top: 5px;
		}
	}
	.social-close {
		position: absolute;
		top: -16px;
		left: -16px;
		width: 36px;
		height: 36px;
		cursor: pointer;
		background: #bdccd4 url('/Images/close-img.png') no-repeat 0px 0px;
		border: 1px solid white;
	}
}

.newsletter.visible {
	position: fixed;
	bottom: 0px;
	transition: all 0.5s;
}

.newsletter.error {
	bottom: -@height-newsletter-box-error + 15px;
}

.newsletter.visible.error {
	height: @height-newsletter-box-error + 15px;
	bottom: 0;
}
