// Grafica dei panel principali della nuova grafica

.material-panel {
	width: 100%;
	padding-top: 20px;
	> .material-panel-heading {
		width: 100%;
		height: @height-material-header-xs;
		.material-panel-title, .material-panel-archivio {
			display: inline-block;
			font-weight: 300;
			line-height: @height-material-header-xs;
			height: @height-material-header-xs;
		}
		.material-panel-title {
			color: white;
			text-transform: uppercase;
			font-size: @font-material-header-title-xs;
			padding-left: 5px;
		}
		.material-panel-archivio {
			float: right;
			font-size: @font-material-header-archivio-xs;
			padding-right: 10px;
		}
		.material-panel-logo-directio {
			float: right;
			line-height: @height-material-header-xs;
			height: @height-material-header-xs;
			width: 70px;
		}
		.material-panel-title-text, .material-panel-archivio-text {
			padding-left: 5px;
		}
		.material-panel-title-text, .material-panel-archivio-text, .material-icons {
			vertical-align: middle;
		}
	}
	> .material-panel-body {
		width: 100%;
		&.bordered {
			border: 1px solid #ccc;
		}
	}
	&.catalogo {
		padding-top: 0;
		> .material-panel-heading {
			background-color: #333;
			.material-panel-title {
				color: #DBDBDB;
			}
		}
		> .material-panel-body {
			padding-top: 20px;
			&.bordered {
				border: 1px solid #333;
			}
		}
		.material-panel {
			margin-bottom: 20px;
			padding-top: 0;
			.material-panel-body {
				padding-top: 20px;
			}
		}
	}
	&.portale-and-more {
		> .material-panel-heading {
			background-color: @color-news-more;
			.material-panel-archivio {
				color: @color-news-more-archivio;
			}
		}
		> .material-panel-body {
			&.bordered {
				border: 1px solid @color-news-more;
			}
		}
	}
	&.guide {
		> .material-panel-heading {
			background-color: @color-guide;
			.material-panel-archivio {
				color: @color-guide-archivio;
			}
		}
		> .material-panel-body {
			&.bordered {
				border: 1px solid @color-guide;
			}
		}
	}
	&.fad {
		> .material-panel-heading {
			background-color: @color-fad;
			.material-panel-archivio {
				color: @color-fad-archivio;
			}
		}
		> .material-panel-body {
			&.bordered {
				border: 1px solid @color-fad;
			}
		}
	}
	&.bp {
		> .material-panel-heading {
			background-color: @color-bp;
			.material-panel-archivio {
				color: @color-bp-archivio;
			}
		}
		> .material-panel-body {
			&.bordered {
				border: 1px solid @color-bp;
			}
		}
	}
	&.ciappterileven {
		> .material-panel-heading {
			background-color: @color-ciappterileven;
		}
		> .material-panel-body {
			&.bordered {
				border: 1px solid @color-ciappterileven;
			}
		}
	}
	&.sole24ore {
		> .material-panel-heading {
			background-color: @color-sole24ore;
			.material-panel-archivio {
				color: @color-sole24ore-archivio;
			}
		}
		> .material-panel-body {
			&.bordered {
				border: 1px solid @color-sole24ore;
			}
		}
	}
	&.multidirectio {
		> .material-panel-heading {
			background-color: @color-multidirectio-panel;
			.material-panel-title {
				.material-icons, .material-panel-title-text {
					color: @color-multidirectio-panel-testi-archivio;
				}
			}
			.material-panel-archivio {
				color: @color-multidirectio-panel-testi-archivio;
			}
		}
		> .material-panel-body {
			&.bordered {
				border: 1px solid @color-multidirectio-panel;
			}
		}
	}
}

@media (min-width: @screen-md) {
	.material-panel {
		> .material-panel-heading {
			height: @height-material-header-sm;
			.material-panel-title, .material-panel-archivio, .material-panel-logo-directio {
				line-height: @height-material-header-sm;
				height: @height-material-header-sm;
			}
			.material-panel-title {
				font-size: @font-material-header-title-sm;
				padding-left: 10px;
			}
			.material-panel-archivio {
				font-size: @font-material-header-archivio-sm;
			}
		}
	}
}

@media (min-width: @screen-lg) {
	.material-panel {
		> .material-panel-heading {
			.material-panel-title-text, .material-panel-archivio-text {
				padding-left: 10px;
			}
		}
	}
}
