// Grafica dei panel principali della nuova grafica

.material-panel {
	width: 100%;
	padding-top: 20px;
	.material-panel-heading {
		width: 100%;
		height: @height-material-header-xs;
		.material-panel-title, .material-panel-archivio {
			display: inline-block;
			font-weight: 300;
			line-height: @height-material-header-xs;
			height: @height-material-header-xs;
		}
		.material-panel-title {
			color: white;
			text-transform: uppercase;
			font-size: @font-material-header-title-xs;
			padding-left: 5px;
		}
		.material-panel-archivio {
			float: right;
			font-size: @font-material-header-archivio-xs;
			padding-right: 10px;
		}
		.material-panel-title-text, .material-panel-archivio-text {
			padding-left: 5px;
		}
		.material-panel-title-text, .material-panel-archivio-text, .material-icons {
			vertical-align: middle;
		}
	}
	.material-panel-body {
		width: 100%;
		&.bordered {
			border: 1px solid #ccc;
		}
	}
	&.servizi {
		.material-panel-heading {
			background-color: @color-news-more;
			.material-panel-archivio {
				color: @color-news-more-archivio;
			}
		}
	}
	&.guide {
		.material-panel-heading {
			background-color: @color-guide;
			.material-panel-archivio {
				color: @color-guide-archivio;
			}
		}
	}
	&.fad {
		.material-panel-heading {
			background-color: @color-fad;
			.material-panel-archivio {
				color: @color-fad-archivio;
			}
		}
	}
	&.ciappterileven {
		.material-panel-heading {
			background-color: @color-ciappterileven;
		}
	}
	&.sole24ore {
		.material-panel-heading {
			background-color: @color-sole24ore;
		}
	}
}

@media (min-width: @screen-md) {
	.material-panel {
		.material-panel-heading {
			height: @height-material-header-sm;
			.material-panel-title, .material-panel-archivio {
				display: inline-block;
				font-weight: 300;
				line-height: @height-material-header-sm;
				height: @height-material-header-sm;
			}
			.material-panel-title {
				color: white;
				text-transform: uppercase;
				font-size: @font-material-header-title-sm;
				padding-left: 10px;
			}
			.material-panel-archivio {
				float: right;
				color: @color-news-more-archivio;
				font-size: @font-material-header-archivio-sm;
				padding-right: 10px;
			}
		}
	}
}

@media (min-width: @screen-lg) {
	.material-panel {
		.material-panel-heading {
			.material-panel-title-text, .material-panel-archivio-text {
				padding-left: 10px;
			}
		}
	}
}
