// Grafica dei panel principali della nuova grafica

.material-panel-flex {
	padding-top: 20px;

	display: flex;
	flex-flow: column;
	&.no-padd-top {
		padding-top: 0;
	}
	.mpf-heading {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 10px 15px;
		.mpf-heading-title, .mpf-heading-archivio {
			font-weight: 300;
		}
		.mpf-heading-title {
			text-transform: uppercase;
			font-size: @font-material-header-title-xs;

			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			flex-shrink: 1;
			.mpf-heading-title-icon, .mpf-heading-title-text {
				.no-link();
				color: #fff;
			}
			.mpf-heading-title-icon {
				display: flex;
				align-items: center;
				.material-icons {
					font-size: 15px;
					padding-right: 5px;
				}
			}
			.mpf-heading-title-text {
				line-height: 16px;
				a {
					.no-link();
					color: #fff;
				}
			}
		}
		.mpf-heading-archivio {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			flex-shrink: 1;

			.no-link();
			font-size: @font-material-header-archivio-xs;
			line-height: 16px;
			.material-icons {
				font-size: 15px;
				padding-right: 5px;
			}
			.mpf-heading-archivio-text {
				font-size: 12px;
			}
		}
		.logo-directio {
			width: 70px;
		}
	}
	.mpf-body {
		&.bordered {
			border-top-width: 0;
		}
		&.padded-top {
			padding-top: 15px;
		}
		&.padded {
			padding: 15px;
		}
	}

	&.catalogo {
		.mpf-heading {
			background-color: #333;
			.mpf-heading-title {
				color: #DBDBDB;
			}
		}
		.mpf-body {
			&.bordered {
				border: 1px solid #333;
			}
		}
	}

	&.portale-and-more {
		.mpf-heading {
			background-color: @color-news-more;
			.mpf-heading-archivio {
				color: @color-news-more-archivio;
			}
		}
		.mpf-body {
			&.bordered {
				border: 1px solid @color-news-more;
			}
		}
	}

	&.guide {
		.mpf-heading {
			background-color: @color-guide;
			.mpf-heading-archivio {
				color: @color-guide-archivio;
			}
		}
		.mpf-body {
			&.bordered {
				border: 1px solid @color-guide;
			}
		}
	}

	&.fad {
		.mpf-heading {
			background-color: @color-fad;
			.mpf-heading-archivio {
				color: @color-fad-archivio;
			}
		}
		.mpf-body {
			&.bordered {
				border: 1px solid @color-fad;
			}
		}
	}

	&.bp {
		.mpf-heading {
			background-color: @color-bp;
			.mpf-heading-archivio {
				color: @color-bp-archivio;
			}
		}
		.mpf-body {
			&.bordered {
				border: 1px solid @color-bp;
			}
		}
	}

	&.ciappterileven {
		.mpf-heading {
			background-color: @color-ciappterileven;
		}
		.mpf-body {
			&.bordered {
				border: 1px solid @color-ciappterileven;
			}
		}
	}

	&.sole24ore {
		.mpf-heading {
			background-color: @color-sole24ore;
			.mpf-heading-archivio {
				color: @color-sole24ore-archivio;
			}
		}
		.mpf-body {
			&.bordered {
				border: 1px solid @color-sole24ore;
			}
		}
	}

	&.multidirectio {
		.mpf-heading {
			background-color: @color-multidirectio-panel;
			.mpf-heading-title {
				.material-icons, .text {
					color: @color-multidirectio-panel-testi-archivio;
				}
			}
			.mpf-heading-archivio {
				color: @color-multidirectio-panel-testi-archivio;
			}
		}
		.mpf-body {
			&.bordered {
				border: 1px solid @color-multidirectio-panel;
			}
		}
	}
}

@media (min-width: @screen-sm) {
	.material-panel-flex {
		.mpf-heading {
			.mpf-heading-title {
				.mpf-heading-title-icon {
					.material-icons {
						font-size: 24px;
					}
				}
			}
			.mpf-heading-archivio {
				padding-top: 0;
				.material-icons {
					font-size: 24px;
				}
				.mpf-heading-archivio-text {
					font-size: 14px;
				}
			}
		}
	}
}

@media (min-width: @screen-md) {
	.material-panel-flex {
		.mpf-heading {
			.mpf-heading-title {
				font-size: @font-material-header-title-sm;
				line-height: @font-material-header-title-sm + 2px;
			}
			.mpf-heading-archivio {
				font-size: @font-material-header-archivio-sm;
			}
		}
	}
}
