.modal-login-shared-wrapper {
	.modal-login-shared {
		.checkbox {
			margin: 0;
		}
		.btn-modal-login {
			border: 1px solid #aaa;
			color: black;
			background-color: #ccc;
		}
		.form-control {
			height: 32px;
		}
		.forget-password-box {
			margin-bottom: -15px;
		}
		.modal-body {
			background-color: #bbccd4;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
		}
		.modal-footer {
			background-color: #333739;
			border-top-width: 0;
			text-align: center;
			.not-register {
				color: white;
				font-weight: bold;
				margin-bottom: 10px;
				font-size: 15px;
			}
		}
	}
}

@media (min-width: 768px) {
	.modal-login-shared-wrapper {
		.modal-login-shared {
			width: 345px;
			transform: translate(0, 50%) !important;
			-ms-transform: translate(0, 50%) !important; /* IE 9 */
			-webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
		}
	}
}
