//COOKIE CONTAINER STYLE
.container-cookie-advise {
	display: none;
	background-color: black;
	font-size: 12px;
	color: #ccc;
	padding-top: 5px;
	padding-bottom: 5px;
	.cookie-close-button {
		float: right;
		cursor: pointer;
		font-size: 14px;
	}
	.material-icons {
		font-size: 18px;
		vertical-align: bottom;
	}
}

.advise-shown {
	display: block;
}

@media (min-width: 768px) {
	.container-cookie-advise {
		.cookie-close-button {
			font-size: 12px;
		}
	}
}
